@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Tourney:ital,wght@1,200&family=Bree+Serif&family=Patrick+Hand&family=Sanchez&display=swap');
@import'./breakpoint';
@import'./mixin';

$color_dark: #2c3e50;
$color_red: #BD4B4B;
$color_gray: #E0E3DA;
$color_orange: #FA8072;
$color_pink: #F7AA97;
$color_brown: #CDBBA7;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Staatliches', 'Sanchez', 'Tourney', 'Patrick Hand', cursive;
}
a{
  text-decoration: none;
  color: $color_orange;
}

input, select{
  outline: none;
  & :focus{
    outline: none;
  }
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  display: flex;
  margin-left: 450px;
  .container{
    margin: 0 auto;
    // margin-left: 450px;
    width: 100%;
    // border: palevioletred 3px solid;
  }
  @include pad {
    margin-left: 0px;
    margin-top: 100px;
  }
  @include phone{
    margin-top: 150px;
  }
}

#left{
  background-color: $color_dark;
  height: 100vh;
  width: 450px;
  position: fixed;
  top: 0;
  left: 0;
  @include pad{
    height: 100px;
    width: 100vw;
    position: fixed;
    z-index: 10;
  }
  @include phone{
    height: 150px;
    position: absolute;
  }
  .left-container{
    height: 30%;
    margin-top: 70%;
    @include pad{
      margin-top: 30px;
      display: flex;
      justify-content: space-around;
    }
    @include phone{
      display: inline;
    }
    .title{
      color: $color_gray;
      font-size: 50px;
      margin: 30px 0px;
      font-family: 'Tourney';
      letter-spacing: 1.5px;
      @include pad{
        font-size: 40px;
        text-align: left;
        margin: 0px;
      }
      @include phone{
        font-size: 30px;
        text-align: center;
        margin-top: 10px;
      }
    }
    .menu {
      letter-spacing: 1.5px;
      line-height: 30px;
      .menustyle{
        color: $color_orange;
        &:hover{
          color: $color_pink;
        }
      }
      span{
        color: $color_gray;
        margin: 0px 7px;
      }
      @include pad{
        // border: whitesmoke 3px solid;
      }
      @include phone{
        display: inline-block;
        margin-top: 5px;
      }
    }
    .search{
      // border: 3px firebrick solid;
      .search-movie{
        padding: 5px;
        font-size: 15px;
        letter-spacing: 1px;
        margin-top: 15px;
        border-radius: 20px;
        border: none;
        opacity: 0.5;
        @include phone{
          margin-top: 3px;
        }
        &:focus{
          background-color: whitesmoke;
          opacity: 1;
          transition-duration: 0.5s;
        }
      }
      .search-movie-btn{
        padding: 5px;
        font-size: 13px;
        margin-top: 15px;
        border-radius: 15px;
        border: none;
        margin-left: 10px;
        letter-spacing: 1px;
        border: gray 2px solid;
        opacity: 0.5;
        @include phone{
          margin-top: 3px;
        }
        &:hover{
          cursor: pointer;
          transform: translate(1px, 1px);
          opacity: 1;
          transition-duration: 0.5s;
        }
      }
    }
    .copyright{
      color: whitesmoke;
      position: absolute;
      bottom: 0;
      padding: 10px 10%;
      @include pad{
        display: none;
      }
    }
  }
}

#nowhit{
  background-color: $color_dark;
  .slick-wrapper{
    .slick-bg{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      height: 100vh;
      padding: 40% 5% 0% 5%;
      @include phone{
        height: 90vh;
      }
    }
    .slick-content{
      color: whitesmoke;
      .slick-title{
        font-size: 60px;
        text-align: right;
        margin: 0px 60px 40px 0px;
        line-height: 50px;
        @include pad{
          font-size: 50px;
        }
        @include phone{
          position: absolute;
          bottom: 50px;
          margin: 0px;
          padding: 20px;
        }
      }
      .slick-tagline{
        font-size: 30px;
        text-align: right;
        @include pad{
          font-size: 25px;
        }
        @include phone{
          position: absolute;
          bottom: 30px;
          right: 20px;
          margin-top: 30px;
        }
      }
      .slick-overview{
        font-size: 20px;
        margin: 40px 60px 0px 60px;
        @include phone{
          display: none;
        }
      }
    }
  }
}

#top{
  width: 100%;
  h1{
    margin: 30px;
    margin-bottom: 50px;
    letter-spacing: 1.5px;
  }
  .link{
    font-size: 25px;
    display: flex;
    justify-content: center;
    .linkstyle{
      &:hover{
        color: $color_pink;
      }
    }
    span{
      margin: 0px 10px;
    }
  }
}

#recent{
  @include top
}

#classic{
  @include top
}

#tvshow{
  @include top
}

#random{
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  h1{
    padding-top: 30px;
    margin-bottom: 50px;
    letter-spacing: 1.5px;
  }
  .random-select{
    margin-bottom: 30px;
    margin-top: 20px;
    #genres{
      padding: 10px;
      font-size: 20px;
      border: $color_gray 2px solid;
      border-radius: 10px;
      letter-spacing: 1px;
      &:focus{
        background-color: gainsboro;
        border-color: gray;
        transition-duration: 0.5s;
      }
    }
  }
  .random-first{
    img{
      width: 500px;
      @include phone{
        width: 300px;
      }
    }
  }
  .ans-container{
    margin: auto;
    width: 60%;
    color: $color_dark;
    background-color: rgba(245, 245, 245, 0.3);
    border-radius: 5%;
    @include phone{
      width: 80%;
    }
    &:hover{
      background-color: whitesmoke;
      transition-duration: 0.5s;
    }
    .ans-title{
      font-size: 35px;
      margin-bottom: 10px;
      z-index: 2;
      @include phone{
        text-align: center;
      }
    }
    .ans-release{
      font-family: Sanchez;
      font-size: 15px;
      @include phone{
        text-align: center;
      }
    }
    .ans-rate{
      font-size: 15px;
    }
    .ans-poster{
    }
    .ans-overview{
      font-family: Sanchez;
      font-weight: bold;
      padding: 20px 50px 30px 50px;
    }
  }
}

#news{
  width: 100%;
  height: auto;
  h1{
    margin-top: 30px;
    margin-bottom: 50px;
    letter-spacing: 1.5px;
  }
  .search-container{
    margin: 20px 0px;
    .search-input{
      padding: 5px;
      font-size: 20px;
      letter-spacing: 1px;
      border-radius: 20px;
      border: $color_gray 2px solid;
      &:focus{
        border-color: $color_dark;
        transition-duration: 0.5s;
      }
    }
    .search-btn{
      padding: 5px;
      margin-left: 10px;
      font-size: 15px;
      letter-spacing: 1px;
      border-radius: 20px;
      border: gray 2px solid;
      &:hover{
        cursor: pointer;
        transform: translate(1px, 1px);
        background-color: whitesmoke;
        transition-duration: 0.5s;
      }
    }
  }
  .news-container{
    width: 100%;
    // border: red 4px solid;
    .news-wrapper{
      padding: 10px;
      max-width: 30%;
      display: inline-flex;
      @include pad{
        max-width: 50%;
        padding: 20px;
      }
      @include phone{
        max-width: 100%;
      }
      .social-container{
        margin-top: 10px;
        margin-right: 10px;
        a{
          color: $color_dark;
          font-size: 25px;
          .fa-facebook{
            color: #1877f2;
            &:hover{
              color: darken(#1877f2, 20%);
              transition-duration: 0.7s;
            }
          }
          .fa-line{
            color: #00c300;
            &:hover{
              color: darken(#00c300, 20%);
              transition-duration: 0.7s;
            }
          }
        }
      }
      .news-link{
        color: $color_dark;
        padding: 10px;
        display: block;
        &:hover{
          box-shadow: 2px 2px 5px $color_dark;
          transform: translate(1px, 1px);
          transition-duration: 0.7s;
        }
        .news-card{
          // border: rosybrown 2px solid;
          .news-pic{
            height: 30%;
            img{
              height: 100%;
              width: 100%;
              object-fit: cover;
              display: block;
            }
          }
          .news-title{
            font-size: 18px;
            text-align: left;
          }
          .news-author{
            text-align: right;
            font-family: 'Bree Serif';
            font-size: 13px;
            margin-bottom: 5px;
          }
          .news-content{
            text-align: left;
            font-family: 'Bree Serif';
            margin-top: 10px;
          }
        }
      }
    }
  }
  .up{
    position: fixed;
    bottom: 50px;
    right: 25px;
    padding: 5px 15px;
    background-color: $color_gray;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
    &:hover{
      background-color: darken($color_gray, 20%);
      transition-duration: 0.3s;
    }
  }
}

#moviepage{
  .moviepage-container{
    min-height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: $color_dark;
    color: $color_gray;
    // border: $color_orange 3px solid;
    .movie-name{
      text-align: left;
      padding-top: 5%;
      padding-left: 5%;
      .movie-title{
        font-size: 50px;
        .heart{
          font-size: 30px;
          margin-left: 20px;
          color: $color_orange;
          cursor: pointer;
        }
        & :hover{
          color: #F7AA97;
          transition-duration: 0.5s;
        }
      }
      .movie-info{
        font-family: 'Sanchez';
        font-size: 15px;
      }
      .movie-genres{
        display: inline-block;
        margin-right: 10px;
        font-family: 'Sanchez';
        margin-top: 10px;
      }
    }
    .movie-wrapper{
      text-align: left;
      padding-left: 5%;
      padding-top: 3%;
      display: flex;
      .movie-poster{
        @include phone{
          text-align: center;
          margin-bottom: 20px;
        }
      }
      @include phone{
        display: inline-block;
      }
      .movie-content{
        text-align: left;
        // border: 3px solid floralwhite;
        width: 100%;
        font-size: 17px;
        padding-left: 20px;
        span{
          font-family: 'Sanchez';
        }
        .movie-director{
          font-family: 'Sanchez';
          padding-left: 15px;
          margin-bottom: 20px;
        }
        .cast-container{
          display: inline-block;
          margin-right: 10px;
          padding-left: 15px;
          .movie-cast{
            font-family: 'Sanchez';
          }
        }
        .movie-overview{
          font-weight: bold;
          font-size: 25px;
          font-family: 'Sanchez';
          padding: 40px 15px 40px 15px;
        }
        .movie-photo{
          margin-top: 30px;
          @include phone{
            text-align: center;
          }
          button{
            background-color: transparent;
            border: transparent;
            padding: 15px;
            color: $color_orange;
            cursor: pointer;
            letter-spacing: 1.5px;
            font-size: 20px;
            &:hover{
              transform: translate(1px, 1px);
              transition-duration: 0.7s;
            }
          }
        }
      }
    }
    .similar-container{
      padding: 30px 10px;
      font-size: 20px;
      .similar{
        display: inline-block;
        .similar-title{
          margin: 10px 10px;
          &:hover{
            transform: translate(1px, 1px);
            transition-duration: 0.7s;
          }
        }
      }
    }
  }
}

#tvshowpage{
  .container{
    min-height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: $color_dark;
    color: $color_gray;
    // border: $color_orange 3px solid;
    .movie-name{
      text-align: left;
      padding-top: 5%;
      padding-left: 5%;
      .movie-title{
        font-size: 50px;
        .heart{
          font-size: 30px;
          margin-left: 20px;
          color: $color_orange;
          cursor: pointer;
        }
        & :hover{
          color: #F7AA97;
          transition-duration: 0.5s;
        }
      }
      .movie-info{
        font-family: 'Sanchez';
        font-size: 15px;
      }
      .movie-genres{
        display: inline-block;
        margin-right: 10px;
        font-family: 'Sanchez';
        margin-top: 10px;
      }
    }
    .movie-wrapper{
      text-align: left;
      padding-left: 5%;
      padding-top: 3%;
      display: flex;
      .movie-poster{
        @include phone{
          text-align: center;
        }
      }
      @include phone{
        display: inline-block;
      }
      .movie-content{
        text-align: left;
        // border: 3px solid floralwhite;
        width: 100%;
        font-size: 17px;
        padding-left: 20px;
        span{
          font-family: 'Sanchez';
        }
        .movie-director{
          font-family: 'Sanchez';
          padding-left: 15px;
          margin-bottom: 20px;
        }
        .cast-container{
          display: inline-block;
          margin-right: 10px;
          padding-left: 15px;
          .movie-cast{
            font-family: 'Sanchez';
          }
        }
        .movie-overview{
          font-weight: bold;
          font-size: 25px;
          font-family: 'Sanchez';
          padding: 40px 15px 40px 15px;
        }
        .movie-photo{
          margin-top: 30px;
          @include phone{
            text-align: center;
          }
          button{
            background-color: transparent;
            border: transparent;
            padding: 15px;
            color: $color_orange;
            cursor: pointer;
            letter-spacing: 1.5px;
            font-size: 20px;
          }
        }
      }
    }
    .similar-container{
      padding: 30px 10px;
      font-size: 20px;
      .similar{
        display: inline-block;
        .similar-title{
          margin: 10px 10px;
        }
      }
    }
  }
}

#list{
  h1{
    padding-top: 30px;
    margin-bottom: 80px;
    letter-spacing: 1.5px;
  }
  .list-empty{
    span{
      font-size: 30px;
    }
    img{
      width: 300px;
      margin-top: 50px;
    }
  }
  .list-container{
    width: 80%;
    margin: auto;
    .list-wrapper{
      background-color: white;
      border-radius: 30px;
      border: solid 2px darken($color_brown, 20%);
      box-shadow: 2px 2px 5px $color_dark;
      margin-top: 50px;
      padding: 20px 20px 20px 20px;
      position: relative;
      .list-wrapper-left{
        .list-title{
          text-align: left;
          font-size: 25px;
          margin-bottom: 10px;
          .list-rate{
            font-size: 18px;
            margin-left: 20px;
            color: $color_red;
          }
        }
      }
      .list-wrapper-right{
        // border: teal 1px solid;
        .list-overview{
          text-align: left;
        }
        .list-del{
          position: absolute;
          right: 33px;
          top: -20px;
          padding: 10px 15px;
          background-color: $color_brown;
          border-radius: 50%;
          border: solid 2px darken($color_brown, 20%);
          cursor: pointer;
          & :hover{
            transform: translate(1px, 1px);
          }
        }
        .list-write{
          position: absolute;
          right: -15px;
          top: -20px;
          padding: 10px 15px;
          background-color: $color_brown;
          border-radius: 50%;
          border: solid 2px darken($color_brown, 20%);
          cursor: pointer;
          & :hover{
            transform: translate(1px, 1px);
          }
        }
      }
      .list-edit{
        margin-top: 20px;
        .list-ok{
          font-size: 30px;
        }
        .list-text{
          width: 100%;
          min-height: 100px;
        }
      }
      hr{
        border-width: 2px;
        margin: 20px auto;
        width: 90%;
      }
      .list-thought{
        margin-top: 20px;
        border-top: $color_brown;
        span{
          font-size: 25px;
          text-align: left;
          margin-bottom: 10px;
        }
      }
    }
  }
}

#search{
  h1{
    margin-top: 20px;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
  }
  .search-container{
    .search-wrapper{
      display: inline-block;
      margin: 20px;
    }
  }
  .search-no{
    margin-top: 15%;
    span{
      font-size: 50px;
      margin: 50px;
    }
    img{
      width: 300px;
      margin: 50px;
    }
  }
}

#footer{
  display: none;
  @include pad{
    display: block;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10px;
    background-color: $color_dark;
    color: whitesmoke;
    position: fixed;
    bottom: 0;
  }
}